<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <span class="profile-info"><%= "Email: " + @user.email %></span>
      	<span class="profile-info"><%= "Reputation: #{@user.reputation}" %></span>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.images.any? %>
      <h3>Images you have uploaded (<%= @user.images.count %>)</h3>
      <%= image_tag @user.images[@user.images.count-1].img.url(:square) %>
    <% end %>
  </div>
</div>