<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <span class="profile-info"><%= "Email: " + @user.email %></span>
        <% user_reputation = number_with_precision(@user.reputation, precision: 1) %>
      	<span class="profile-info"><%= "Reputation: #{user_reputation}" %></span>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.images.any? %>
      <h3>Images uploaded (<%= @user.images.count %>)</h3>
      <ol class="images">
        <%= render @images %>
      </ol>
      <%= will_paginate @images %>
    <% else %>
      <% if current_user?(@user) %>
        <h3>You have not uploaded any image</h3>
        <%= link_to "Upload new image", upload_path, class: "btn btn-large btn-primary" %>  
      <% end %>
    <% end %>
  </div>
</div>