<% provide(:title, "Upload image") %>
<h1>Upload image</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@image) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :tag %>
      <%= f.text_field :tag %>

      <%= f.label "Image" %>
      <%= f.file_field :img %>
      <br />
    <%= f.submit "Upload", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>